body {
  background: #54018b;
  color: #f7df1e;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 50px;
}

.input_label {
  padding: 8px;
  margin: 0 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #f7de1e52;
  background: transparent;
  color: #fff;
  font-size: 18px;
}

.input_label:hover {
  background: #20003573;
  border-radius: 7px;
}

.input_submit, .edit, .delete {
  padding: 7px 10px;
  border-radius: 7px;
  cursor: pointer;
}

.input_submit:hover, .edit:hover, .delete:hover {
  background: #ddd;
}

th {
  font-weight: 100;
  padding: 20px 100px;
  text-shadow: 1px 1px 10px #fff;
}

.data-request {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin-top: 50px;
}

.crud-table {
  padding: 10px 20px;
  border: 2px solid #765d86;
  border-radius: 7px;
}